.controls-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.controls-container button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff200;
  color: black;
  cursor: pointer;
}

.controls-container button:hover {
  background-color: #b0aa38;
}
