.time-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  gap: 20px;
  width: 300px;
  height: 100px;
}
.display-time {
    display: flex;
    justify-content: space-between;
}
