.time-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  gap: 20px;
  width: 300px;
}
.display-time {
    display: flex;
    justify-content: center;
}
.btns-container{
    display: flex;
    gap: 10px;
    margin: 10px;

}
.btns-container button{
    padding: 10px 20px;
    // border: none;
    border-radius: 5px;
    background-color: #fff200;
    color: black;
    cursor: pointer;
}
.btns-container button:hover{
    background-color: #d6cd2c;
}