.father-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(8, 11, 26);
    
}
.clock-container{
    display: flex;
    justify-content: center;
}
.time-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}