.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
}
.container p{
    align-items: center;
    color: #333;
    
}